/* ABOUT */
.about__right img{
    width: 100%;
    display:block;
    border-radius: 8px;
}
.about .row{
    padding: 0 15px;
}

/* FEATURE ITEM */
.feature__item{
    text-align:center;
}
.feature__item span{
    color:#009f4d;
    width:80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background-color: rgb(0 159 77 / 4%);
    font-size:32px;
    margin-bottom:1rem;
}
.feature__item .count__number{
    font-size:3em;
    font-weight: 600;
    color:var(--heading__color);
}
.feature__item p{
    font-size:17px;
    color:var(--heading__color);
}

/* TEAM */
.team{
    background-color: #009f4d;
    padding: 3rem 0;
}
.team .header h3,.team .header h2 {
    color:white;
}
.team__title .header{
    position:relative;
}
.team__title p{
    font-size: 1.25rem;
    font-weight: 300;
    font-family:'Source Sans Pro', sans-serif;
    color:white;  
}
.team__title h1{
    position:absolute;
    color:white;
    font-weight: bold;
    opacity: 0.14;
    font-size:12vw;
    right:50%;
    bottom:50%;
    transform: translate(50%,50%);
}
.team__item{
    background-color: white;
    padding:1em;
    border-radius: 8px;
}
.team__item figure{
    overflow: hidden;
    border-radius: 8px;
    color:white;
    text-align: center;
    position: relative;
    margin:0;
}
.team__item figure img{
    width:100%;
}
.team__item figure::before{
    content:"";
    position: absolute;
    top:0;
    opacity: 0;
    background-color: rgb(8 8 8 / 54%);
    width:100%;
    height: 100%;
    transition:all 0.5s;
}
.team__caption{
    position:absolute;
    padding: 0 20px;
    top:0%;
    width:100%;
    transform: translateY(-55%);
    opacity: 0;
    transition:all 0.3s 0.2s;
}

.team__caption h3{
    font-size:24px;
    font-weight: bold;
    margin-bottom:4px;
    transition: all 0.3s;
}
.team__social{
    position:absolute;
    width:100%;
    bottom:0;
    transform: translateY(45%);
    opacity: 0;
    font-size: 35px;
    transition:all 0.3s 0.2s;
}
.team__social a{
    font-size:16px;
    margin: 0 10px;
    transition: all 0.3s;
}
.team__social a:hover,.team__detail h2:hover,.team__caption h3:hover{
    color:#fb811e;
}
.team__detail h2{
    font-size:21px;
    font-weight: bold;
    color:#060606;
    transition:all 0.5s;
    
}
.team__detail p{
    font-size:16px;
    margin: -0.2px 0 -1px;
    display:block;
    color:#404040;
}
.team__item figure:hover .team__caption{
    opacity:1;
    top:35%;
}
.team__item figure:hover .team__social{
    opacity:1;
    bottom:10%;
}
.team__item figure:hover::before{
    opacity:1;
}

/* VIDEO */
.videoContent{
    max-width:950px;
    margin:auto;
    text-align: center;
    
}
.videoContent__player{
    position:relative;
}
.videoContent__player img{
    width:100%;
    border-radius: 8px;
}
.videoContent__player a{
    position:absolute;
    top:calc(50% - 40px);
    right:50%;
    transform: translate(50%,0);
}
.videoContent__player a span{
    width:55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    color:#fb811e;
    line-height: 55px;
    transition: all 0.3s;
}
.videoContent__player a span:hover{
    transform: scale(1.1);
}
#videoPopup{
    max-width: 750px;
    margin:40px auto;
    position:relative;
}
#videoPopup iframe{
    width: 100%;
    height: 420px;
    display:block;
    border-radius: 10px;
}
.mfp-close-btn-in .mfp-close{
    color:white;
}
.mfp-close{
    opacity:1;
    top:-40px;
    line-height: 40px;
    width:unset;
    height: unset;
}
/* FEEDBACK */
.feedback{
    background-image: url(../image/homepage/bg1.jpg);
    padding:3rem 0;
    position:relative;
}
.feedback .carousel-inner{
    max-width: 900px;
    margin:auto;
}
.feedback::before{
    content:"";
    background: rgb(10 10 10 / 52%);
    position:absolute;
    top:0;
    left:0;
    right:0;
    min-height: 100%;
}
.feedback__info{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.feedback__info img{
    width:90px;
    height:90px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom:6.4px;
}
.feedback__info h4{
    font-weight: 600;
    color:white;
    margin:10px 0 5px;
    font-size:20px;
}
.feedback__info p{
    color:white;
    font-size:16px
}
.feedback__content span{
    color:#fb811e;
    font-size:20px;
    font-weight: 600;
}
.feedback__content p{
    font-size: 22px;
    line-height: 34px;
    text-indent: 30px;
    color:white;
    margin-bottom:1rem;
}
.feedback__content p::before{
    content:open-quote;
}
.feedback__content p::after{
    content:close-quote;
}
.feedback .carousel-indicators{
    margin-bottom:-28px;
}
.feedback .carousel-indicators li{
    width:10px;
    height:10px;
    margin:5px 7px;
    border-radius: 50%;
    opacity:0.3;
    display:inline-block;
    
}
.feedback .carousel-indicators li:hover{
    background-color: #fb811e;
    opacity: 1;
}
.feedback .carousel-indicators li.active{
    background-color: #fb811e;
    opacity: 1;
}
@media screen and (max-width:1200px) {

    /* TEAM */
    .team__caption h3{
        font-size: calc(1.275rem + 0.3vw);
    }
    .team__detail p{
        margin: 1px 0 -1.2px;
    }
}
@media screen and (max-width:991px){
    /* FEATURE */
    .feature__item .count__number{
        font-size:2.5em;
    }
}

@media screen and (max-width:768px)  {
    /* HEADER */
    header .navbar-brand{
        color:var(--heading__color);
    }
    /* FEATURE */
    .feature__item span{
        font-size:2.5em;
    }
    /* FEEDBACK */
    .feedback .carousel-indicators{
        margin-bottom:-21px;
    }
}

@media screen and (max-width:736px){
    /* FEEDBACK */
    .feedback__info h4{
        margin-bottom:0;
    }
    .feedback__content p{
        font-size:17px;
        line-height: 30px;
    }
}
@media screen and (max-width:640px){
    /* FEATURE */
    .feature__item p{
        font-size:1em;
    }
}
@media screen and (max-width:576px){
    /* FEEDBACK */
    .feedback .carousel-indicators{
        margin-bottom:-45px;
    }
}
@media screen and (max-width:440px){
    /* FEATURE */
    .feature__left p{
        font-size:15px;
    }
    .feature__right{
        grid-template-columns:1fr;
        grid-gap:20px;
    }
}
@media screen and (max-width:415px) {
    /* FEEDBACK */
    .feedback__info img{
        width:75px;
        height: 75px;
    }
    .feedback__info{
        margin-top:30px;
    }
    .feedback__info h4{
        font-size:18px;
    }
}

@media screen and (max-width:384px)  {
    /* FEATURE */
    .feature__item h4{
        font-size:20px;
    }
}